 <!-- .title_content -->
 <div class="title_content">
    <div class="text_content">Education</div>
    <div class="clear"></div>
</div>
<!-- /.title_content -->
<div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Professional Development and Training</div>
            <div class="clear"></div>
        </div>
        <ul class="attributes">
                <li class="first">
                    <h5>Entrepreneurship Training Program<span class="duration"><i class="fa fa-calendar color"></i>Oct 2016 - Apr 2017 </span></h5>
                    <h6><span class="fa fa-book"></span>School of Graduate Studies, Memorial University</h6>
                </li>
                <li>
                    <h5>Oracle Training<span class="duration"><i class="fa fa-calendar color"></i>May 2018 - Present</span></h5>
                    <h6><span class="fa fa-book"></span>Bingham University, Dept of Computer Science</h6>
                </li>
                <li>
                    <h5>Cisco Networking Academy (CNNA)<span class="duration"><i class="fa fa-calendar color"></i>May 2012 - Jul 2012 </span></h5>
                    <h6><span class="fa fa-book"></span>Bingham University, Dept of Computer Science</h6>
                </li>
            </ul>
<!-- .attributes -->
<ul class="attributes">
    <li class="first">
        <h5>Master of Science <span class="duration"><i class="fa fa-calendar color"></i> Sep 2016 - Dec 2018</span></h5>
        <h4>Computer Science</h4>
        <h6><span class="fa fa-book"></span>Memorial University, St. John’s, NL, Canada</h6>
    </li>
    <li>
        <h5>Bachelor of Science <span class="duration"><i class="fa fa-calendar color"></i> Oct 2010 - Aug 2014</span></h5>
        <h4>Computer Science</h4>
        <h6><span class="fa fa-book"></span> Bingham University, Nassarawa, Nigeria</h6>
    </li>
</ul>
<!-- /.attributes -->
<br>  