<h1> Technical Skills </h1>
<!-- <app-my-line-chart></app-my-line-chart> -->
<!-- .resume -->
<div id="resume" class="content_2">
        <!-- .title -->
    <h1 class="h-bloc">Resume - Personal Info</h1> 
    
    <div class="row">
    
       <!-- .resume-right -->
        <div class="col-md-4">
    
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Programming Language</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="95%">
                    <div class="skillbar-title"><span>Java</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
        
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>JavaScript</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="65%">
                    <div class="skillbar-title"><span>Python</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">65%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="35%">
                    <div class="skillbar-title"><span>C#</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">35%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="35%">
                    <div class="skillbar-title"><span>PHP</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">35%</div>
                </div>
                <!-- /.skillbar -->
            </div>
        </div>
            
        <div class="col-md-4">    
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Database</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>MySQL</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title"><span>MongoDB</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>SQLite</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->
                
                 <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Firebase</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar --> 
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="40%">
                        <div class="skillbar-title"><span>AWS</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">40%</div>
                    </div>
                    <!-- /.skillbar --> 
            </div>
        </div>
        <div class="col-md-4">
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Front-End</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
                
            <div class="skills">       
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="100%">
                    <div class="skillbar-title"><span>HTML</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">100%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="100%">
                    <div class="skillbar-title"><span>CSS</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">100%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title"><span>jQuery</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="100%">
                    <div class="skillbar-title"><span>BootStrap</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">100%</div>
                </div>
                <!-- /.skillbar -->   
            </div>
        </div>
            
        <div class="col-md-4">
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Tools</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Git</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">100%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="95%">
                    <div class="skillbar-title"><span>Jira</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="85%">
                    <div class="skillbar-title"><span>Xcode Simulator</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">100%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="70%">
                    <div class="skillbar-title"><span>Travelling</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>
                <!-- /.skillbar -->
            </div>
        </div> 

        <div class="col-md-4">
            
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Frameworks</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>Angular</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title"><span>Ionic</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="50%">
                    <div class="skillbar-title"><span>React</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title"><span>Vue</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->
            </div>
        </div>
            
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">My Resume</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <!-- .download_resume -->
            <a class="download" style="margin:0;float: left;" href="#">
                <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
            </a>
            <!-- /.download_resume -->

        <div class="col-md-6 resume-left">    
            <!-- .title_content -->
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Work Experience</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5><b>Full-Stack Developer (Intern)</b> <span class="duration"><i class="fa fa-calendar color"></i>Mar 2019 – Present</span></h5>
                    <h6><span class="fa fa-briefcase"></span>Bench Boss, St John’s, NL</h6>
                        <p>Used Angular and Ionic to develop a chatting feature to the existing application</p>
                        <p>Stored messages and set notifications using firebase</p>
                        <p>Stored and retrieved data in DynamoDB in AWS</p>
                        <p>Used GitHub and Slack for team collaboration, version control, and messaging</p>
                        <p>Analyzed data to show projected tends of athletes</p>
                </li>
                <li>
                    <h5><b>Software Developer</b><span class="duration"><i class="fa fa-calendar color"></i>Jan 2018 - May 2018</span></h5>
                    <h6><span class="fa fa-briefcase"></span>SubC Imaging, Clarenville, NL</h6>
                        <p>Used C# to create hotkeys in WPF application</p>
                        <p>Implemented timecode on web video streams using HTML, CSS, and JavaScript</p>
                        <p>Created a signal and traversal server using Cygwin and Linux commands for secure web real time communication</p>
                        <p>Carried out extensive test such as quality control and quality assurance to ensure all users desired requirements are met</p>
                </li>
                <li>
                    <h5><b>Software Engineer</b><span class="duration"><i class="fa fa-calendar color"></i>Apr 2015 - Aug 2016</span></h5>
                    <h6><span class="fa fa-briefcase"></span>Musason Royal Business Ltd., Jos, Nigeria</h6>
                        <p>Used WordPress and GoDaddy to design and maintain websites</p>
                        <p>Configured and installed Mikrotik router</p>
                        <p>Designed posters and banners using Adobe Photoshop to advertise services</p>
                </li>
                <li>
                    <h5><b>Computer Engineer (Work Term)</b><span class="duration"><i class="fa fa-calendar color"></i>Mar 2013 - Dec 2013</span></h5>
                    <h6><span class="fa fa-briefcase"></span>National Assembly, Abuja, Nigeria</h6>
                        <p>Conducted hardware maintenance and support for work and personal PCs</p>
                        <p>Trained staff on basic computer skills and provided assistance as required</p>
                        <p>Tested connectivity and provided troubleshooting assistance for pcs, Cisco Routers and Switches</p>
                </li>
    
            </ul>
            <!-- /.attributes -->
            <br>
            
            
        </div>
        <!-- /.resume-left -->
    </div>
    
    <div style="clear: both"></div>  
      
      
    <!-- client reference -->
    <div class="row">
    <div class="col-md-6 resume-right">   
        
    <div class="reference clearfix"> 
                
             <!-- .title_content -->
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Relevent Coursework</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <ul class="attributes">
                    <li class="first">
                        <h5><b>Augmented Reality using Depth Sensing Cameras</b> <span class="duration"><i class="fa fa-calendar color"></i>May 2018 – Dec 2018</span></h5>
                        <h6><span class="fa fa-briefcase"></span>Master's Project </h6>
                        <ul>
                            <li>Implemented segmentation algorithm on Intel RealSense Camera; streamed depth values using C#</li>
                            <li>Created visually impactful dashboards using Excel, Python, and Tableau for data generation, manipulation and, reporting data</li>
                            <li>Designed a questionnaire for user study participants using HTML, CSS, MongoDB, and JavaScript</li>
                        </ul>
                        <p></p>
                    </li>
                    <li>
                        <h5><b>Designed a Monochromatic Triangle Graph and CNF converter</b><span class="duration"><i class="fa fa-calendar color"></i>Aug 2018</span></h5>
                        <h6><span class="fa fa-briefcase"></span>Computational Complexity</h6>
                        <ul>
                            <li>Used Python and MATLAB to create graphs and analyzed generated CNF with a SAT solver</li>
                            <li>Implemented timecode on web video streams using HTML, CSS, and JavaScript</li>
                            <li>Created a signal and traversal server using Cygwin and Linux commands for secure web real time communication</li>
                        </ul>
                    </li>
                    <li>
                        <h5><b>Used Growing Degree Day to predict planting season of crops</b><span class="duration"><i class="fa fa-calendar color"></i>May 2017</span></h5>
                        <h6><span class="fa fa-briefcase"></span>Computer Based Tools & Applications</h6>
                        <ul>
                            <li>Extracted, analyzed, normalized and manipulated data using Python</li>
                            <li>Used Python to create report showing statistical charts and weather radars for data visualization</li>
                        </ul>
                    </li>
                    <li>
                        <h5><b>Illustrated the Reduced Instruction Set Computer (RISC)</b><span class="duration"><i class="fa fa-calendar color"></i>Feb 2017 - Apr 2017</span></h5>
                        <h6><span class="fa fa-briefcase"></span>Advanced Computer Architecture</h6>
                            <ul>
                                <li>Used Java to imitate instruction semantics, syntax and format of a RISC machine</li>
                            </ul>
                    </li>
                    <li>
                        <h5><b>Designed a Prototype Billing System</b><span class="duration"><i class="fa fa-calendar color"></i>Sept 2016 - Dec 2016</span></h5>
                        <h6><span class="fa fa-briefcase"></span>Software Engineering</h6>
                        <ul>
                            <li>Conducted hardware maintenance and support for work and personal PCs</li>
                            <li>Trained staff on basic computer skills and provided assistance as required</li>
                            <li>Tested connectivity and provided troubleshooting assistance for pcs, Cisco Routers and Switches</li>
                        </ul>
                    </li>
        
                </ul>
    </div>
    
    <div class="title_content" style="margin-bottom:5px">
        <div class="text_content">Volunteer Experience</div>
        <div class="clear"></div>
    </div>
    <ul class="attributes">
            <li class="first">
                <h5>Ready for Stem <span class="duration"><i class="fa fa-calendar color"></i>Aug 2018</span></h5>
                <h6><span class="fa fa-book"></span>St John’s NL, Canada</h6>
                <p>Integrated PayPal payment gateway for donation</p>
                <p>Created volunteers team page on http://stemteampage-exceptional-project.webflow.io/meet-our-team</p>
                <p>Created marketing report using Google Analytics</p>
            </li>
            <li>
                <h5>Canada Learning Code<span class="duration"><i class="fa fa-calendar color"></i>May 2018 - Present</span></h5>
                <h6><span class="fa fa-book"></span>St John’s NL, Canada</h6>
                <p>Helped with setting up WordPress accounts for students</p>
                <p>Helped kids with challenge in executing their codes</p>
                <p>Helped kids, parents, and teachers troubleshoot Python codes</p>
            </li>
        </ul>
    </div>
    </div>
    

    </div>

    
    <!-- End .resume -->
